
<form action="/tasks/add" method="POST" class="rounded text-white p-3 bg-dark">
    <h2 class="fw-bold text-white text-center">Ingrese una nueva tarea</h2>
    <label class="mt-2" for="title">Título:</label>
    <input name="title" type="text" placeholder="Escribe un titulo" id="title" class="form-control rounded bg-dark text-white"/>

    <label class="mt-2" for="description">Texto:</label>
    <textarea name="description" placeholder="Escribe un texto" id="description" class="form-control rounded bg-dark text-white"></textarea>

    <button class="btn btn-primary mt-3" type="submit">Enviar</button>
</form>