<div class="d-flex justify-content-center align-items-center flex-column mt-5">

    <form class="w-50 form-control text-white p-53 action="/edit/{{task._id}}" method="POST">
        <h2 class="text-dark m-2 text-center">Edite el contenido y actualice</h2>
        <input type="text" name="title" placeholder="title" value="{{task.title}}" class="form-control rounded bg-dark text-white m-1">
        <textarea name="description" rows="5" placeholder="Añade una description" class="form-control rounded bg-dark text-white m-1">{{task.description}}</textarea>
        <button class="btn btn-success m-1">Actualizar</button>

    </form>
</div>