

<div class="container mt-5 d-flex justify-content-center align-items-center text-white flex-column">
        <h1 class="text-black">Error de validación</h1>
        <p class="fs-5 text-black">Es probable que haya dejado un campo vacio o haya colocado un titulo ya existente, vuelva a intentarlo completando todos los campos de forma correcta.</p>
        <a class="btn btn-warning btn-md fw-bold" href="/">Volver al inicio</a>
</div>