                    <div class="container mt-2 p-1">
                        <div class="row d-flex flex-column justify-content-center align-items-center">

                            <div class="my-2 container d-flex justify-content-center align-items-center">
                                {{> tasks/taskForm }}
                            </div>

                            <div class="my-4">
                                {{> tasks/taskTable }}
                            </div>
                        </div>
                    </div>