                    <nav class="navbar p-2 navbarr shadow">
                        <div class="container d-flex justify-content-center align-items-center">
                            <h1 class="fw-bold colortext">Lista de tareas</h1>
                        </div>
                    </nav>